.center {
  padding: 1%;
  text-align: center;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 350px;
}
.nomargin {
  margin: 0%;
  padding: 0%;
}

.inline-image {
  width: 30px;
  margin-right: 0.5em;
}

#root {
  min-height: 100vh;
  background-color: beige;
}
.margin-top1 {
  margin-top: 1em;
}
.container {
  justify-content: start !important;
}
.columns-news {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.column-news {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 350px;
}
.column-news-image {
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 350px;
}
.link-button {
  display: flex;
  color: rgb(2, 2, 2);
  width: 220px;
}
.arrow {
  text-decoration: none;
}
.arrow::after {
  content: '→';
  display: inline-block;
  margin-left: 0.5em;
}
